.heading {
  height: 88px;
  position: relative;
  width: 430px;
}

.heading .div {
  color: #16205e;
  font-family: "Poppins", Helvetica;
  font-size: 64px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 78px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 430px;
}
