.heading-wrapper {
  height: 34px;
  position: relative;
  width: 332px;
}

.heading-wrapper .heading-3 {
  color: #16205e;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 332px;
}
